body {
    background: #ececec;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

main {
    width: 96%;
    max-width: 560px;
    margin: 40px auto;
}

a {
    color: #ed6310;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.25s ease;
}

a:hover {
    color: #bd4700;
}

::selection {
    background: rgba(137,207,240, 0.5);
}

code {
    display: block;
    background: #232323;
    color: #ececec;
    padding: 10px 10px 15px 10px;
    margin: 5px 0;
    white-space: nowrap;
    overflow: auto;
}

code::selection {
    color: #fff;
    background: rgba(137,207,240, 0.5);
}

ul.packageList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.packageList li {
    margin: 0 0 20px 0;
    border-bottom: 2px solid #ccc;
}

ul.packageList li:last-child {
    border-bottom: 0;
}

ul.packageList li img {
    float: left;
    margin: 0 10px 10px 0;
}

ul.packageList li h4 {
    margin: 0;
}

ul.packageList li p {
    margin: 0 0 20px 0;
}

a.packageList--link {
    color: #000;
}

a.packageList--link:hover {
    color: #ed6310;
}

div.clear {
    clear: both;
}
